
* { /*limpa todas as formatações padrão*/
margin: 0;
padding: 0;
}

/*html, body {
    height: 100%;
}*/

html{
    background-color: #f1cbd8;
}



body {
    
    background: url('../img/2.png'); /* Foto de Kader D. Kahraman: https://www.pexels.com/pt-br/foto/celebracao-comemoracao-festa-creme-10295248/*/
    background-repeat:repeat-x;
    background-size: 1900px 1100px;
    background-attachment: fixed;
    padding: 30px;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.faixa-produtos{
    margin: auto;


}

.produtos {
    background: #f4e3d7ff;
   /* float: right;
    position: relative; */
    margin: 30px 30px;
    padding: 10px;
    max-width: 300px;
    height: 300px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.titulo-produtos{
    background: transparent;
    margin: 30px 100px;
    padding: 10px 10px 10px 10px;
    width: 400px;
    height: 400px;
    /*border: #492618 solid;*/
    text-align: center;

}

.titulo-produtos h4 {
    color: #492618;
    letter-spacing: -1px;
    
}

#banner{
    background: #f4e3d7ff;
    /*float: center;*/
    max-width: 80%;
    height: 500px;
    /*position: relative;*/
    margin: 200PX;
    /*padding: 10px 300px;*/

    border-radius: 20px;
    background-image: url('../img/banner.png');
    background-position: right;
    background-size: 400px;
    background-repeat: no-repeat;


    
    
}

.clear {
    clear: both;
}

/*
#menu{

    float: right;
    margin: 100px 250PX;
    position: fixed;

}*/
/*
#area{
    width: 720px;
    margin: 50px auto;
}

#area-principal{
    width: 1000px;
    margin: 0px 50px 0px 50px;
    height: 100px auto;
}

#rodape{
    margin: 30px;
    position: absolute;

}*/



a{
    text-decoration: none; /*retira a decoração padrão dos links (sublinhado)*/
    padding: 10px;
}


a:link{ /*cor do link*/
    color: #492618;
    text-decoration: none;
}
a:visited{ /*cor do link visitado*/
    color: #785b45;
    text-decoration: none;
}
a:hover{ /*cor ao passar o mouss*/
    color: #bb805c;
    text-decoration: none;
}
a:active{ /*cor ao clicar*/
    color: #9e8274;
    text-decoration: none;
}



.login{
    position: absolute;
    top: 30px;
    right: 130px;
    float: right;
}

.login a:hover{
    color:white;
}

.carrinho{
    position: absolute;
    top: 30px;
    right: 80px;
    float: right;
}
.carrinho a:hover{
    color:white;
}

/*
#logo{
    background: red;
   position: fixed;
    top: 30px;
    left: 100px;
    float: left;
    height: 100px;
    width: 100px;
}



#logo a {
    background: url("../img/cupcake4.png");
   position: fixed;
    top: 30px;
    left: 100px;
    float: left;
    height: 100px;
    width: 100px;
}
*/

/*
#search{
    margin-left: 50%;
    position: fixed;
}*/

#botao-pesquisa{
    background: none;
    border: none;
}

.campo-pesquisa{
    border-radius: 30px;
    background-color: transparent;
    width: 280px;
    height: 35px;
    margin-right: 20px;
    padding-left: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #bb805c;
    /*overflow: auto; width: 200px;*/
     /*height: 100%; Full height */
    /* position: fixed; /* Make it stick, even on scroll */
    
}

li {
    float: left;
}

li a, .dropbtn{
 display: inline-block;
 color: #9e8274;
 padding: 8px 16px;
 text-decoration: none;

}

li a:hover, .dropdown:hover, .dropbtn {
    background-color: #f7cadb;
    color: white;
  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}